<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<?define DefaultSource = "..\RevitStartup\Manifest\test_template.addin"?>

		<DirectoryRef Id="REVIT2022_ADDIN_FOLDER">
			<Component Id="cmpAddin2022" Guid="{F02E0B97-31C6-4F8C-A2C7-976BCCDBD369}">
				<File Id="fileAddin2022" KeyPath="yes" Source="$(var.DefaultSource)" />
			</Component>
		</DirectoryRef>

	</Fragment>
</Wix>
